body {
    overflow-x: hidden;
    background-color: rgb(203, 216, 221);
    .hero{
        background-image: url('https://cdn.pixabay.com/photo/2017/05/31/11/17/office-2360063_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgb(59, 63, 88);
        .heroContent, .heroGrid{
            margin: 5rem 0;
        }
    }
    .hero p, .newCard p, .whiteH{
        color: white;
    }
    .coloredText{
        color: rgb(27, 27, 184);
    }
    .spacing {
        margin: 5rem 0;
    }
   
}
/* Navbar component */
.navBar{
    /* border-radius: 3%; */

    .logo img{
        width: 150px;
        max-height: 50px;
        height: max-content;
    }
}
/* Contacts component */
.contact{
    background-color: rgb(41, 41, 122);
    color: rgb(253, 235, 211);
}
/* Services */
.servicesBackgroundGrid {
    background-color: rgb(71, 140, 207);
    padding: 1rem;
    text-align: center;
}
.newCard{
    width: 18rem; 
    background-color: rgb(27, 27, 184);
    padding: 0;
}
/* Footer */
.footer{
    background-color: rgb(18, 18, 80);
    color: white;
    text-decoration: none;
}